
[submodule "/Users/bry4n__/Desktop/global-proj"]
	path = /Users/bry4n__/Desktop/global-proj
	url = git@github.com:bryanmojica/global-project.git
[submodule "/Users/bry4n__/Desktop/global-proj/common_code"]
	path = /Users/bry4n__/Desktop/global-proj/common_code
	url = git@github.com:bryanmojica/global-project.git
